version: '3.8'
services:
  mongodb:
    image: mongo:7
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: voice_reminder
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"

  api:
    build:
      context: ./backend_api
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - mongodb
    ports:
      - "4000:4000"
    restart: on-failure
    environment:
      - MONGODB_URI=mongodb://admin:password@mongodb:27017/voice_reminder?authSource=admin

  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - mongodb
      - api
    ports:
      - "4001:4001"
    restart: on-failure
    environment:
      - MONGODB_URI=mongodb://admin:password@mongodb:27017/voice_reminder?authSource=admin

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  mongodata:
    # version: '3.9'

    # services:
    #   db:
    #     image: postgres:15
    #     container_name: reminder-db
    #     restart: always
    #     environment:
    #       POSTGRES_USER: postgres
    #       POSTGRES_PASSWORD: postgres
    #       POSTGRES_DB: reminderdb
    #     ports:
    #       - "5433:5432"
    #     volumes:
    #       - postgres_data:/var/lib/postgresql/data

    #   backend:
    #     build: ./backend-api
    #     container_name: reminder-backend
    #     restart: always
    #     depends_on:
    #       - db
    #     environment:
    #       DATABASE_URL: postgres://postgres:postgres@db:5432/reminderdb
    #       PORT: 3000
    #     ports:
    #       - "3000:3000"

    # volumes:
    #   postgres_data:
